<div class="container spacer">
  <div class="card">
    <div class="card-header bg-primary text-white">Contacts</div>
    <div class="card-body">
      <div>
        <label>Key Word</label>
        <input type="text" class="form-group" [(ngModel)]="keyWord">
        <button class="btn btn-primary" (click)="findPage()">Search</button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Phone</th><th>DOB</th>
        </tr>
        <tr *ngFor="let c of dataRecieved?.content">
          <td>{{c.id}}</td>
          <td>{{c.firstName}}</td>
          <td>{{c.lastName}}</td>
          <td>{{c.email}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.dateOfBirth}}</td>
          <td><a class="btn btn-success text-white" (click)="editContact(c.id)">Edit</a></td>
          <td><a class="btn btn-danger text-white" (click)="DeleteContact(c)">Delete</a></td>
        </tr>
      </table>
      <div class="container">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
            <a class="page-link" (click)="goToPage(i)">{{i}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
